/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#banner {
  background-color: rgb(239, 238, 244);
  color: rgb(90, 87, 87);
  align-items: center;
  font-family: Lucida Sans;
  margin: 15px, 0px;
  padding: 15px, 0px;
  border: rgb(182, 177, 177);
}

h1 {
  padding: 20px;
  font-size: x-large;
  align-items: center;
}

#banner a {
  color: rgb(90, 87, 87);
  font-family: Lucida Sans;
  font-size: large;
  padding-right: 20px;
}
